/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

#search-form {
  display: inline-block;
  position: relative;
}

#search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}

#search-input:hover {
  border-color: #000000;
}

#search-input:focus {
  border-color: #4E75FF;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #4E75FF;
  background-color: #4E75FF;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #6C8CFF;
}

.loader {
  width: 96px;
  height: 48px;
  background: #FFF;
  border-color: #de3500;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
  animation: 3s yinYang linear infinite;
  margin: 0 auto;
}

.loader:before, .loader:after {
  content: "";
  position: absolute;
  top: 50%;
  background: #de3500;
  border-radius: 100%;
  width: 12px;
  height: 12px;
}

.loader:before {
  left: 0;
  background: #FFF;
  border: 18px solid #de3500;
}

.loader:after {
  left: 50%;
  border: 18px solid #FFF;
}

@keyframes yinYang {
  100% { transform: rotate(360deg); }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
}

.gallery a {
  border: 1px solid #808080;
  overflow: hidden;
  text-decoration: none;
}

.gallery img {
  width: 100%;
  height: 200px;
  display: block;
}

.image-stats {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}

.image-stats p {
  margin: 0;
  padding: 0 2px;
  font-size: 12px;
  color: #2E2F42;
}

.notification {
  color: red;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

